.section-amenities {}

.amenities {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: -100px;
  z-index: 1;
}

.amenities__info {
  margin-right: 20px;
  background-color: #1a3a33;
  max-width: 640px;
  padding: 50px 40px 0;
  margin-left: -40px;
}

.amenities__under-title {
  @include InterSans(16px, 400, 25px);
  color: $white-gray;
}

.amenities__title {
  max-width: 580px;
  margin-top: 50px;
  @include CormorantSans(45px, 400, inherit);
  color: $white-gray;
}

.amenities__descr {
  margin-top: 40px;
  @include InterSans(16px, 400, 24px);
  color: $white-gray;
}

.amenities__register {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 360px;
  height: 330px;
}

.amenities__register-video {
  width: 100%;
  height: 100%;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.amenities__register-button {}