.video__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  overflow-y: auto;
  display: none;
  cursor: pointer;

  &.active {
    display: block;

    .video {
      animation-name: videoShow;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes videoShow {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.video__overlay-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 15%;
    width: 30px;
    height: 2px;
    background-color: #fff;
  }

  &:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

    &:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.video {
  max-width: 889px;
  height: 540px;
  margin: 100px auto;
  padding: 0 15px;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}